%title-h1 {
	position: relative;

	font-size: 46px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -1px;

	color: $color-white;

	&::before {
		content: '';
		display: block;
		width: 40px;
		height: 2px;

		margin-bottom: 24px;

		background-color: $color-white;
		border-radius: 8px;
	}

	@include onTablet {
		font-size: 80px;
		letter-spacing: -1.5px;
	}
}

%title-h2 {
	position: relative;
	margin-bottom: 32px;

	font-size: 36px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: -1.5px;

	color: $color-black;

	&::after {
		content: '';
		position: relative;

		display: block;
		width: 23px;
		height: 16px;
		left: 50%;
		margin-top: 8px;

		background: url(../img/favicon.svg) no-repeat center / contain;
		transform: translateX(-50%);
	}

	@include onLaptop {
		margin-bottom: 48px;
		font-size: 48px;
	}
}
