body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #999999;
}

//Добавление img с форматом webp через backgound
//.webp div {
//  background: url('../../dist/img/images.webp') 0 0 no-repeat;
//}

//Header ___________________________

